.extraContent {
	display: flex;
	align-items: center;
	margin: 20px;
}

.metrics {
	margin-left: auto;
	background-color: #007bff;
	color: white;
	padding: 1rem;
	border-radius: 2rem;
}

.metrics p {
	margin-bottom: 0rem !important;
}
